// 引入主题色
@import './variables.scss';

// 明亮主题颜色
$primary_color: #2d8cf0;
$primary_light_color: #0f1011;
$primary_dark_color: #2b85e4;
$success_color: #19be6b;
$warning_color: #ff9900;
$error_color: #ed3f14;
$handle-btn-color: #438cde;

$theme_color: #F31947;

$border_color: #dddee1;
$title_color: #8c8c8c;
$light_title_color: #1c2438;
$light_content_color: #495060;
$light_sub_color: #80848f;
$light_background_color: #F5F5F7;
$light_white_background_color: #fff;

.wes-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.hover-color:hover {
  color: $theme_color !important;
  cursor: pointer;
}

.hover-pointer {
  cursor: pointer;
}

.center {
  margin: 0 auto;
}

.relative {
  position: relative;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex {
  display: flex;
}

.flex-a-c {
  align-items: center;
}

.flex-j-sb {
  justify-content: space-between;
}

.flex-j-c {
  justify-content: center;
}

.width_1200_auto {
  width: 1184px;
  margin: 0 auto;
}

.mb_20 {
  margin-bottom: 20px;
}

.mt_20 {
  margin-top: 20px;
}

.ml_20 {
  margin-left: 20px;
}

.mr_20 {
  margin-right: 20px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.text-danger {
  color: $theme_color;
}

